
*,
*::after,
*::before{
    box-sizing: border-box;
}


header * {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper{
    max-width: 80%;
    margin: 0 auto;
}

a:hover{
    cursor: pointer;
}

/* nav */

.title{
    font-family: "Georgia", sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 400;
    white-space: nowrap;
}

.subtitle{
    font-family: "Arial", sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    margin: 0;
}

nav ul li a{
    font-family: "Arial", sans-serif;
    font-size: 15px;
    text-decoration: none;
}

nav ul li a.active {
    text-decoration: underline;
    text-decoration-color: #F1CDB3;
    text-decoration-thickness: 3px;
    text-underline-position: under;
}

.menu-list{
    position: relative;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

  /*  pets section  */

.pet .btn-learn{
    padding: 15px 45px;
    color: #292929;
    display: inline-block;
    font-size: 17px;
    font-family: "Georgia", sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-bottom: 20px;
}

.pet:hover{
    cursor: pointer;
}

.pet .btn-learn:hover{
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.arrow:hover{
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}


/* footer */

footer{
    background-image: url(../images/start-screen-gradient-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: auto; 
    min-height: fit-content;
}

footer .wrapper{
    max-width: 90%;
}

footer .footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer .footer-content h3{
    color: #FFFFFF;
    font-size: 35px;
    line-height: 45.5px;
    font-weight: 400;
    letter-spacing: 1px;
}

footer .footer-content .info{
    display: flex;
    align-items: center;
    justify-content: start; 
    gap: 10px;
    height: 20%;
}

footer .footer-content .contacts{
    padding-right: 5%;
}

footer .footer-content .locations{
    padding-right: 5%;
}

footer .footer-content h4{
    color: #F1CDB3;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: 1px;
}

footer .footer-content .image{
    align-self: flex-end;
}

footer .footer-content .image img{
    vertical-align: middle;
    margin-bottom: 0;   
    width: 100%;
    height: auto;
}

@media(min-width: 621px){
    nav ul{
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
    }
}
@media(max-width: 620px){

    .menu-toggle:checked ~ .menu {
        display: flex;
        padding: 0;
    }

    .menu-icon span{
        display: block;
        height: 1%;
        width: 100%;
        margin: 40% 0;
    }

    .menu-icon {
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: fixed;
        top: 5%;
        right: 5%;
        z-index: 1100;
    }

    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #292929;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul li a{
        font-size: 28px;
    }
}

/* Основной контейнер попапа */
.popup__window {
    display: none;
    position: fixed;
    top: calc(50% - 250px);
    left: calc(50% - 450px);
    z-index: 18;
    width: 900px;
    height: 500px;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: #FAFAFA;
    border-radius: 9px;
}

/* Кнопка закрытия попапа */
.popup__window .close {
    position: absolute;
    background-image: url("assets/icons/popup.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: -52px;
    right: -30px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

.popup__window .close:hover {
    cursor: pointer;
    border-color: #FDDCC4;
    background-color: #FDDCC4;
}

/* Контейнер с контентом попапа */
.popup__window .popup__info {
    display: flex;
    height: 100%;
}

.popup__window .popup__info img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

/* Адаптивные стили для разных разрешений */
@media (max-width: 1279px) {
    .popup__window {
        width: 630px;
        height: 350px;
        top: calc(50% - 175px);
        left: calc(50% - 315px);
    }

    .popup__window .popup__info img {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 767.9px) {
    .popup__window {
        width: 240px;
        height: 342px;
        top: calc(50% - 171px);
        left: calc(50% - 120px);
    }

    /* Скрываем изображение на мобильных устройствах */
    .popup__window .popup__info img {
        display: none;
    }

    .popup__window .popup__info .popup__text {
        padding: 10px;
    }
}

/* Текст и список внутри попапа */
.popup__window .popup__info .popup__text {
    height: 100%;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 20px;
}

@media (max-width: 1279px) {
    .popup__window .popup__info .popup__text {
        overflow-y: scroll;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.popup__window .popup__info .popup__text .popup__heading {
    font-family: "Georgia", Times, sans;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 4.5rem;
    letter-spacing: 0.06em;
    margin-bottom: 20px;
}

@media (max-width: 767.9px) {
    .popup__window .popup__info .popup__text .popup__heading {
        text-align: center;
    }
}

.popup__window .popup__info .popup__text .popup__subheading {
    font-family: "Georgia", Times, sans;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
}

@media (max-width: 767.9px) {
    .popup__window .popup__info .popup__text .popup__subheading {
        text-align: center;
    }
}

.popup__window .popup__info .popup__text p {
    font-family: "Georgia", Times, sans;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.06em;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (max-width: 1279px) {
    .popup__window .popup__info .popup__text p {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1.3rem;
        line-height: 1.4rem;
    }
}

@media (max-width: 767.9px) {
    .popup__window .popup__info .popup__text p {
        text-align: justify;
        margin-bottom: 24px;
    }
}

/* Стили для списка */
.popup__window .popup__info .popup__text li {
    font-family: "Georgia", Times, sans;
    font-size: 1.5rem;
    line-height: 1.65rem;
    letter-spacing: 0.06em;
    padding-left: 14px;
    margin-bottom: 12px;
    position: relative;
}

@media (max-width: 767.9px) {
    .popup__window .popup__info .popup__text li {
        margin-bottom: 5px;
    }
}

.popup__window .popup__info .popup__text li:after {
    content: url("assets/icons/dot.svg");
    position: absolute;
    top: -3px;
    left: 0;
}

.popup__window .popup__info .popup__text li span {
    font-weight: 700;
}

/* Стиль для заголовков и текста попапа */
.popup__title,
.popup__subtitle,
.popup__description,
.popup__list-item-title,
.popup__list-item-text {
    color: var(--color-black);
    margin: 0;
}

.popup__title {
    margin-bottom: 10px;
}

.popup__subtitle {
    font-size: 20px;
    line-height: 23px;
}

.popup__description {
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    margin: 40px 0;
}

.popup__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding-left: 14px;
}

.popup__list-item-title {
    font-weight: 700;
    display: inline-block;
}

.popup__list-item-text {
    display: inline-block;
}

.popup__list li::marker {
    color: var(--color-primary);
}
